Repository woowacourse-teams/2025-Turip, pull requests merged in 2025-08, with the labels that each got.

#115 [feat] 바텀 네비게이션 세팅
  android/app/src/main/java/com/on/turip/ui/main/MainActivity.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeViewModel.kt
  android/app/src/main/res/drawable/btn_favorite_gradient.xml
  android/app/src/main/res/drawable/btn_home_gradient.xml
  android/app/src/main/res/drawable/ic_heart_normal.xml
  android/app/src/main/res/drawable/ic_heart_selected.xml
  android/app/src/main/res/drawable/ic_home_normal.xml
  android/app/src/main/res/drawable/ic_home_selected.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_favorite.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/menu/menu_bottom_nav.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#116 [refactor] 2차 데모 수정사항 반영
  android/app/src/main/java/com/on/turip/ui/common/mapper/TripMapper.kt
  android/app/src/main/java/com/on/turip/ui/common/mapper/VideoInfomationMapper.kt
  android/app/src/main/java/com/on/turip/ui/common/model/trip/TripDurationModel.kt
  android/app/src/main/java/com/on/turip/ui/common/model/trip/TripModel.kt
  android/app/src/main/java/com/on/turip/ui/search/model/VideoInformationModel.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultAdapter.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/webview/TuripWebViewClient.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/webview/WebViewUtils.kt
  android/app/src/main/res/layout/activity_trip_detail.xml
  android/app/src/main/res/layout/item_travel_day.xml
  android/app/src/main/res/values/strings.xml
Labels: 🌰 채넛, 🤖 Android, refactor

#119 [feat] Country, Province, City 도메인 추가
  backend/src/main/java/turip/city/domain/City.java
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/controller/dto/response/ContentDetailsByCityResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentWithoutCityResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentsByCityResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentsByRegionResponse.java
  backend/src/main/java/turip/content/domain/Content.java
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/country/domain/Country.java
  backend/src/main/java/turip/province/domain/Province.java
  backend/src/main/java/turip/region/controller/RegionController.java
  backend/src/main/java/turip/region/repository/RegionRepository.java
  backend/src/main/java/turip/region/service/RegionService.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/hachantour_gangwon_data.sql
  backend/src/main/resources/jejueddy_gangwon_sokcho_data.sql
  backend/src/main/resources/jejueddy_posak_date.sql
  backend/src/main/resources/yeoconam_gangwon_gyeongju_data.sql
  backend/src/main/resources/yeoconam_ganwon_gangneung_data.sql
  backend/src/main/resources/yeoconam_seoul_data.sql
  backend/src/test/java/turip/content/api/ContentApiTest.java
  backend/src/test/java/turip/content/api/ContentPagingApiTest.java
  backend/src/test/java/turip/tripcourse/api/TripCourseApiTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#138 [feat] 홈 화면 xml 구현
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/home/RegionAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/home/RegionViewHolder.kt
  android/app/src/main/res/drawable/bg_gray200_radius_24dp.xml
  android/app/src/main/res/drawable/bg_gray400_radius_24dp.xml
  android/app/src/main/res/drawable/bg_stroke_gray200_radius_12dp.xml
  android/app/src/main/res/drawable/bg_turip_lemon_radius_24dp.xml
  android/app/src/main/res/drawable/btn_region_filter.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_region.xml
  android/app/src/main/res/layout/item_searching_region.xml
  android/app/src/main/res/layout/item_users_like_content.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#125 [feat] 검색 기능 구현
  backend/src/main/java/turip/city/controller/dto/response/CityNameResponse.java
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/controller/dto/response/ContentSearchResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentSearchResultResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentWithCreatorAndCityResponse.java
  backend/src/main/java/turip/content/domain/Content.java
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/country/domain/Country.java
  backend/src/main/java/turip/creator/domain/Creator.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/hachantour_gangwon_data.sql
  backend/src/main/resources/jejueddy_gangwon_sokcho_data.sql
  backend/src/main/resources/jejueddy_posak_date.sql
  backend/src/main/resources/yeoconam_gangwon_gyeongju_data.sql
  backend/src/main/resources/yeoconam_ganwon_gangneung_data.sql
  backend/src/main/resources/yeoconam_seoul_data.sql
  backend/src/test/java/turip/content/api/ContentApiTest.java
  backend/src/test/java/turip/content/api/ContentPagingApiTest.java
  backend/src/test/java/turip/content/repository/ContentRepositoryTest.java
  backend/src/test/java/turip/content/service/ContentServiceTest.java
  backend/src/test/java/turip/tripcourse/api/TripCourseApiTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#134 [feat] 검색화면 및 결과화면 View 생성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/ui/main/MainActivity.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchResultViewModel.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultAdapter.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/res/drawable/bg_gray100_radius_24dp.xml
  android/app/src/main/res/drawable/ic_cancel.xml
  android/app/src/main/res/drawable/ic_search.xml
  android/app/src/main/res/layout/activity_region_result.xml
  android/app/src/main/res/layout/activity_search_result.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_result.xml
  android/app/src/main/res/layout/item_search_result.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#128 [feat] 지역 카테고리별 컨텐츠 수 조회 API 구현
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/regioncategory/domain/DomesticRegionCategory.java
  backend/src/main/java/turip/regioncategory/domain/OverseasRegionCategory.java
  backend/src/test/java/turip/content/api/ContentApiTest.java
  backend/src/test/java/turip/content/api/ContentCountApiTest.java
  backend/src/test/java/turip/content/service/ContentServiceTest.java
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#140 [feat] 지역 카테고리 별 컨텐츠 목록 조회 API 구현
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/controller/dto/response/ContentByCityResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentDetailsByRegionCategoryResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentsByCityResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentsByRegionCategoryResponse.java
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/test/java/turip/content/api/ContentCountApiTest.java
  backend/src/test/java/turip/content/api/ContentPagingApiTest.java
  backend/src/test/java/turip/content/api/paging/DomesticRegionCategoryPagingApiTest.java
  backend/src/test/java/turip/content/api/paging/OverseasRegionCategoryPagingApiTest.java
  backend/src/test/java/turip/content/service/ContentServiceTest.java
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#151 [feat] 로깅 프레임워크 적용 및 로그 관련 코드 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/turip/configuration/WebMvcConfiguration.java
  backend/src/main/java/turip/log/LoggingInterceptor.java
  backend/src/main/resources/logback-spring.xml
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#153 [feat] 홈 화면 UI 로직 및 임시 Repository 구현
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/region/DefaultRegionRepository.kt
  android/app/src/main/java/com/on/turip/di/RepositoryModule.kt
  android/app/src/main/java/com/on/turip/domain/content/PopularFavoriteContent.kt
  android/app/src/main/java/com/on/turip/domain/content/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/domain/region/Country.kt
  android/app/src/main/java/com/on/turip/domain/region/Region.kt
  android/app/src/main/java/com/on/turip/domain/region/RegionCategory.kt
  android/app/src/main/java/com/on/turip/domain/region/RegionRepository.kt
  android/app/src/main/java/com/on/turip/domain/region/RegionType.kt
  android/app/src/main/java/com/on/turip/ui/common/DpFormatExtensions.kt
  android/app/src/main/java/com/on/turip/ui/common/ImageExtensions.kt
  android/app/src/main/java/com/on/turip/ui/common/ItemSpaceDecoration.kt
  android/app/src/main/java/com/on/turip/ui/common/model/RegionModel.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/home/RegionAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/home/RegionViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/home/UsersLikeContentAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/home/UsersLikeContentViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultViewHolder.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/on/turip/domain/region/RegionTest.kt
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#156 [feat] 검색 결과 화면 기능 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/data/content/ContentMapper.kt
  android/app/src/main/java/com/on/turip/data/content/dataSource/ContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/dataSource/DefaultContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/dto/CityResponse.kt
  android/app/src/main/java/com/on/turip/data/content/dto/ContentResponse.kt
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/content/service/ContentService.kt
  android/app/src/main/java/com/on/turip/data/userStorage/repository/DefaultUserStorageRepository.kt
  android/app/src/main/java/com/on/turip/domain/content/City.kt
  android/app/src/main/java/com/on/turip/domain/content/Content.kt
  android/app/src/main/java/com/on/turip/domain/content/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/ui/common/TuripUrlConverter.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchAdapter.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchResultViewModel.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchViewModel.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
  android/app/src/main/res/layout/activity_search.xml
  android/app/src/main/res/layout/item_result.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/on/turip/ui/common/TuripUrlConverterTest.kt
Labels: 🐭 제리, 🤖 Android, 📝 feat

#150 [feat] 주간 인기 찜 컨텐츠 조회 API 구현
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/controller/dto/response/WeeklyPopularFavoriteContentResponse.java
  backend/src/main/java/turip/content/controller/dto/response/WeeklyPopularFavoriteContentsResponse.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/favorite/repository/FavoriteRepository.java
  backend/src/main/java/turip/favorite/service/FavoriteService.java
  backend/src/main/java/turip/member/domain/Member.java
  backend/src/test/java/turip/content/api/ContentApiTest.java
  backend/src/test/java/turip/content/service/ContentServiceTest.java
Labels: 🏝️ 하루, 💻 BackEnd, 📝 feat

#159 [refactor] 검색 api 엔드포인트 수정
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/test/java/turip/content/api/ContentApiTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, refactor

#157 [feat] 찜 목록 비어있을 때 UI 구현
  android/app/src/main/res/drawable/ic_heart_empty.xml
  android/app/src/main/res/layout/fragment_favorite.xml
  android/app/src/main/res/values/strings.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#166 [feat] 안드로이드 사용자 피드백 채널 구축
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/res/drawable/ic_inquire.xml
  android/app/src/main/res/layout/fragment_favorite.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#168 [feat] 로깅 프레임워크 적용 및 로그 관련 코드 추가
  backend/src/main/java/turip/log/LoggingInterceptor.java
  backend/src/main/resources/logback-spring.xml
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#167 [feat] 홈화면 API 연결
  android/app/src/main/java/com/on/turip/data/content/ContentMapper.kt
  android/app/src/main/java/com/on/turip/data/content/datasource/ContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/datasource/DefaultContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/dto/ContentDetailResponse.kt
  android/app/src/main/java/com/on/turip/data/content/dto/ContentResponse.kt
  android/app/src/main/java/com/on/turip/data/content/dto/Creator.kt
  android/app/src/main/java/com/on/turip/data/content/dto/UsersLikeContentResponse.kt
  android/app/src/main/java/com/on/turip/data/content/dto/UsersLikeContentsResponse.kt
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/content/service/ContentService.kt
  android/app/src/main/java/com/on/turip/data/network/NetworkClient.kt
  android/app/src/main/java/com/on/turip/data/region/DefaultRegionRepository.kt
  android/app/src/main/java/com/on/turip/data/region/RegionMapper.kt
  android/app/src/main/java/com/on/turip/data/region/datasource/DefaultRegionRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/region/datasource/RegionRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/region/dto/CountryResponse.kt
  android/app/src/main/java/com/on/turip/data/region/dto/RegionCategoriesResponse.kt
  android/app/src/main/java/com/on/turip/data/region/dto/RegionCategoryResponse.kt
  android/app/src/main/java/com/on/turip/data/region/repository/DefaultRegionRepository.kt
  android/app/src/main/java/com/on/turip/data/region/service/RegionService.kt
  android/app/src/main/java/com/on/turip/di/DataSourceModule.kt
  android/app/src/main/java/com/on/turip/di/NetworkModule.kt
  android/app/src/main/java/com/on/turip/di/RepositoryModule.kt
  android/app/src/main/java/com/on/turip/domain/content/Content.kt
  android/app/src/main/java/com/on/turip/domain/content/PopularFavoriteContent.kt
  android/app/src/main/java/com/on/turip/domain/content/UsersLikeContent.kt
  android/app/src/main/java/com/on/turip/domain/content/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/domain/content/video/VideoData.kt
  android/app/src/main/java/com/on/turip/domain/region/City.kt
  android/app/src/main/java/com/on/turip/domain/region/RegionRepository.kt
  android/app/src/main/java/com/on/turip/domain/region/repository/RegionRepository.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/home/HomeViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/home/UsersLikeContentAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/home/UsersLikeContentViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#174 [feat] 찜 목록 UI 구현
  android/app/src/main/java/com/on/turip/ui/common/ItemDividerDecoration.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteItemAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteItemViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteViewModel.kt
  android/app/src/main/res/layout/fragment_favorite.xml
  android/app/src/main/res/layout/item_favorite.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#175 [feat] 지역 검색 API 연결
  android/app/src/main/java/com/on/turip/data/content/ContentMapper.kt
  android/app/src/main/java/com/on/turip/data/content/datasource/ContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/datasource/DefaultContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/dto/ContentsInformationResponse2.kt
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/content/service/ContentService.kt
  android/app/src/main/java/com/on/turip/domain/content/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultViewModel.kt
  android/app/src/main/res/drawable/ic_calendar.xml
  android/app/src/main/res/layout/activity_trip_detail.xml
  android/app/src/main/res/layout/item_result.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#180 [feat] 찜 목록 API 구현
  backend/src/main/java/turip/content/controller/dto/response/ContentSearchResponse.java
  backend/src/main/java/turip/content/controller/dto/response/ContentWithTripInfoResponse.java
  backend/src/main/java/turip/content/controller/dto/response/MyFavoriteContentsResponse.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/favorite/controller/FavoriteController.java
  backend/src/main/java/turip/favorite/repository/FavoriteRepository.java
  backend/src/main/java/turip/favorite/service/FavoriteService.java
  backend/src/test/java/turip/favorite/api/FavoriteApiTest.java
  backend/src/test/java/turip/favorite/service/FavoriteServiceTest.java
Labels: 🏝️ 하루, 💻 BackEnd, 📝 feat

#183 [feat] 찜 목록 API 연결
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/favorite/FavoriteMapper.kt
  android/app/src/main/java/com/on/turip/data/favorite/datasource/DefaultFavoriteRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/favorite/datasource/FavoriteRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/favorite/dto/FavoriteAddRequest.kt
  android/app/src/main/java/com/on/turip/data/favorite/dto/FavoriteContentResponse.kt
  android/app/src/main/java/com/on/turip/data/favorite/dto/FavoriteContentsResponse.kt
  android/app/src/main/java/com/on/turip/data/favorite/repository/DefaultFavoriteRepository.kt
  android/app/src/main/java/com/on/turip/data/favorite/service/FavoriteService.kt
  android/app/src/main/java/com/on/turip/domain/favorite/FavoriteContent.kt
  android/app/src/main/java/com/on/turip/domain/favorite/PagedFavoriteContents.kt
  android/app/src/main/java/com/on/turip/domain/favorite/repository/FavoriteRepository.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteItemAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteItemViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteViewModel.kt
  android/app/src/main/res/layout/fragment_favorite.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#177 [feat] 데이터 자동 생성 기능 구현
  backend/src/main/java/turip/category/repository/CategoryRepository.java
  backend/src/main/java/turip/city/repository/CityRepository.java
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/country/repository/CountryRepository.java
  backend/src/main/java/turip/creator/repository/CreatorRepository.java
  backend/src/main/java/turip/csv/config/CsvDataInitializer.java
  backend/src/main/java/turip/csv/controller/CsvImportController.java
  backend/src/main/java/turip/csv/dto/CsvDataDto.java
  backend/src/main/java/turip/csv/service/CsvDataImportService.java
  backend/src/main/java/turip/place/repository/PlaceRepository.java
  backend/src/main/java/turip/placecategory/repository/PlaceCategoryRepository.java
  backend/src/main/java/turip/province/domain/Province.java
  backend/src/main/java/turip/province/repository/ProvinceRepository.java
  backend/src/main/java/turip/regioncategory/service/RegionCategoryService.java
  backend/src/main/java/turip/tripcourse/repository/TripCourseRepository.java
  backend/src/main/resources/Creator/creator_data.sql
  backend/src/main/resources/Region/region_data.sql
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/main/resources/hachantour_gangwon_data.sql
  backend/src/main/resources/jejueddy_gangwon_sokcho_data.sql
  backend/src/main/resources/jejueddy_posak_date.sql
  backend/src/main/resources/yeoconam_gangwon_gyeongju_data.sql
  backend/src/main/resources/yeoconam_ganwon_gangneung_data.sql
  backend/src/main/resources/yeoconam_seoul_data.sql
  backend/src/main/resources/유튜버 정리 - 듀이ヂュイ♥彡_완성.csv
  backend/src/main/resources/유튜버 정리 - 여코남 - 여행코스짜주는남자_완성.csv
  backend/src/main/resources/유튜버 정리 - 연수연_완성.csv
  backend/src/main/resources/유튜버 정리 - 율모조모_완성.csv
  backend/src/main/resources/유튜버 정리 - 이달래_완성.csv
  backend/src/main/resources/유튜버 정리 - 채리어 Chaerrier_완성.csv
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#189 [refactor] 지역 이미지 경로 변경
  backend/src/main/java/turip/regioncategory/service/RegionCategoryService.java
  backend/src/main/resources/Region/region_data.sql
Labels: 🤙🏽 메이, 💻 BackEnd, refactor

#187 [feat] 영상 상세 페이지 QA 진행 후 반영사항
  android/app/src/main/java/com/on/turip/ui/trip/detail/PlaceModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripPlaceViewHolder.kt
  android/app/src/main/res/layout/activity_trip_detail.xml
Labels: 🌰 채넛, 🤖 Android, refactor

#188 [feat] 검색 화면 3차 데모데이 QA
  android/app/src/main/java/com/on/turip/ui/common/TuripUrlConverter.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchActivity.kt
  android/app/src/main/res/layout/activity_search.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/on/turip/ui/common/TuripUrlConverterTest.kt
Labels: 🤡 뭉치, 🤖 Android, 🔨 fix

#195 [fix] 디버깅 로그 d 레벨로 찍히는 이슈 해결
  android/app/src/main/java/com/on/turip/common/TuripDebugTree.kt
Labels: 🤡 뭉치, 🤖 Android, 🔨 fix

#196 [feat] 잘못된 경로 요청에 대한 응답 코드 수정
  backend/src/main/java/turip/exception/GlobalExceptionHandler.java
  backend/src/main/java/turip/log/LoggingInterceptor.java
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#199 [feat] 찜 목록 페이지 QA 진행 후 반영사항
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/res/layout/item_favorite.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#216 [feat] 운영 환경 분리
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#218 [feat] 안드로이드 UX 수정
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/res/drawable/ic_heart_selected.xml
  android/app/src/main/res/drawable/ic_home_selected.xml
  android/app/src/main/res/drawable/ic_play_button.xml
  android/app/src/main/res/layout/activity_search.xml
  android/app/src/main/res/layout/activity_trip_detail.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_result.xml
  android/app/src/main/res/layout/item_travel_place.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#223 [feat] 타임라인 API 구현
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/contentplace/controller/ContentPlaceController.java
  backend/src/main/java/turip/contentplace/controller/dto/response/ContentPlaceDetailResponse.java
  backend/src/main/java/turip/contentplace/controller/dto/response/ContentPlaceResponse.java
  backend/src/main/java/turip/contentplace/controller/dto/response/TripDurationResponse.java
  backend/src/main/java/turip/contentplace/domain/ContentPlace.java
  backend/src/main/java/turip/contentplace/repository/ContentPlaceRepository.java
  backend/src/main/java/turip/contentplace/service/ContentPlaceService.java
  backend/src/main/java/turip/csv/service/CsvDataImportService.java
  backend/src/main/java/turip/favoritecontent/service/FavoriteContentService.java
  backend/src/main/java/turip/tripcourse/controller/dto/response/TripCourseDetailResponse.java
  backend/src/main/java/turip/tripcourse/controller/dto/response/TripCourseResponse.java
  backend/src/main/java/turip/tripcourse/repository/TripCourseRepository.java
  backend/src/main/java/turip/tripcourse/service/TripCourseService.java
  backend/src/test/java/turip/content/api/ContentApiTest.java
  backend/src/test/java/turip/content/api/ContentCountApiTest.java
  backend/src/test/java/turip/content/api/paging/DomesticRegionCategoryPagingApiTest.java
  backend/src/test/java/turip/content/api/paging/OverseasRegionCategoryPagingApiTest.java
  backend/src/test/java/turip/content/service/ContentServiceTest.java
  backend/src/test/java/turip/contentplace/api/ContentPlaceApiTest.java
  backend/src/test/java/turip/contentplace/service/ContentPlaceServiceTest.java
  backend/src/test/java/turip/favoritecontent/api/FavoriteContentApiTest.java
  backend/src/test/java/turip/favoritecontent/service/FavoriteContentServiceTest.java
  backend/src/test/java/turip/regioncategory/api/RegionCategoryApiTest.java
  backend/src/test/java/turip/tripcourse/service/TripCourseServiceTest.java
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#235 [feat] 유저들이 많이 찜한 콘텐츠 타이틀 ux 수정
  android/app/src/main/res/values/strings.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#238 [feat] 장소 찜 폴더 api 구현
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/contentplace/service/ContentPlaceService.java
  backend/src/main/java/turip/csv/config/CsvDataInitializer.java
  backend/src/main/java/turip/exception/custom/ConflictException.java
  backend/src/main/java/turip/exception/custom/ForbiddenException.java
  backend/src/main/java/turip/favoritecontent/controller/FavoriteContentController.java
  backend/src/main/java/turip/favoritecontent/service/FavoriteContentService.java
  backend/src/main/java/turip/favoritefolder/controller/FavoriteFolderController.java
  backend/src/main/java/turip/favoritefolder/controller/dto/request/FavoriteFolderNameRequest.java
  backend/src/main/java/turip/favoritefolder/controller/dto/request/FavoriteFolderRequest.java
  backend/src/main/java/turip/favoritefolder/controller/dto/response/FavoriteFolderResponse.java
  backend/src/main/java/turip/favoritefolder/controller/dto/response/FavoriteFolderWithPlaceCountResponse.java
  backend/src/main/java/turip/favoritefolder/controller/dto/response/FavoriteFoldersWithPlaceCountResponse.java
  backend/src/main/java/turip/favoritefolder/domain/FavoriteFolder.java
  backend/src/main/java/turip/favoritefolder/repository/FavoriteFolderRepository.java
  backend/src/main/java/turip/favoritefolder/service/FavoriteFolderService.java
  backend/src/main/java/turip/favoriteplace/repository/FavoritePlaceRepository.java
  backend/src/main/java/turip/member/domain/Member.java
  backend/src/test/java/turip/content/api/ContentCountApiTest.java
  backend/src/test/java/turip/content/api/paging/DomesticRegionCategoryPagingApiTest.java
  backend/src/test/java/turip/content/api/paging/OverseasRegionCategoryPagingApiTest.java
  backend/src/test/java/turip/content/service/ContentServiceTest.java
  backend/src/test/java/turip/contentplace/api/ContentPlaceApiTest.java
  backend/src/test/java/turip/contentplace/service/ContentPlaceServiceTest.java
  backend/src/test/java/turip/favoritecontent/api/FavoriteContentApiTest.java
  backend/src/test/java/turip/favoritecontent/service/FavoriteContentServiceTest.java
  backend/src/test/java/turip/favoritefolder/api/FavoriteFolderApiTest.java
  backend/src/test/java/turip/favoritefolder/domain/FavoriteFolderTest.java
  backend/src/test/java/turip/favoritefolder/service/FavoriteFolderServiceTest.java
  backend/src/test/java/turip/member/domain/MemberTest.java
  backend/src/test/java/turip/regioncategory/api/RegionCategoryApiTest.java
  backend/src/test/resources/application-test.yml
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#239 [feat] 찜 목록 페이지, 컨텐츠 찜 UI 구현
  android/app/build.gradle.kts
  android/app/src/main/java/com/on/turip/ui/common/ItemDividerDecoration.kt
  android/app/src/main/java/com/on/turip/ui/common/base/BaseBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteContentAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteContentFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteContentViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteContentViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteHelpInformationAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteHelpInformationBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteHelpInformationViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteHelpInformationViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteStateAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/model/HelpInformationModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/model/HelpInformationModelType.kt
  android/app/src/main/res/drawable/ic_document.xml
  android/app/src/main/res/drawable/ic_three_dots_vertical.xml
  android/app/src/main/res/layout/bottom_sheet_fragment_favorite_help_information.xml
  android/app/src/main/res/layout/fragment_favorite.xml
  android/app/src/main/res/layout/fragment_favorite_content.xml
  android/app/src/main/res/layout/fragment_favorite_place.xml
  android/app/src/main/res/layout/item_favorite.xml
  android/app/src/main/res/layout/item_favorite_content.xml
  android/app/src/main/res/layout/item_help_information.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#256 [feat] 로깅 전략 개선
  backend/src/main/java/turip/configuration/DevWebMvcConfiguration.java
  backend/src/main/java/turip/exception/GlobalExceptionHandler.java
  backend/src/main/java/turip/log/LoggingFilter.java
  backend/src/main/java/turip/log/LoggingInterceptor.java
  backend/src/main/resources/logback-spring.xml
Labels: 💻 BackEnd, 📝 feat

#253 [feat] 서버 도메인의 변경에 따른 api 엔드포인트 수정
  android/app/src/main/java/com/on/turip/data/content/place/ContentPlaceMapper.kt
  android/app/src/main/java/com/on/turip/data/content/place/datasource/ContentPlaceRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/place/datasource/DefaultContentPlaceRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/place/dto/CategoryResponse.kt
  android/app/src/main/java/com/on/turip/data/content/place/dto/ContentPlaceResponse.kt
  android/app/src/main/java/com/on/turip/data/content/place/dto/ContentPlacesResponse.kt
  android/app/src/main/java/com/on/turip/data/content/place/dto/PlaceResponse.kt
  android/app/src/main/java/com/on/turip/data/content/place/dto/TripDurationResponse.kt
  android/app/src/main/java/com/on/turip/data/content/place/repository/DefaultContentPlaceRepository.kt
  android/app/src/main/java/com/on/turip/data/content/place/service/ContentPlaceService.kt
  android/app/src/main/java/com/on/turip/data/trip/datasource/DefaultTripRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/trip/datasource/TripRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/trip/dto/TripResponse.kt
  android/app/src/main/java/com/on/turip/data/trip/repository/DefaultTripRepository.kt
  android/app/src/main/java/com/on/turip/data/trip/service/TripService.kt
  android/app/src/main/java/com/on/turip/di/DataSourceModule.kt
  android/app/src/main/java/com/on/turip/di/NetworkModule.kt
  android/app/src/main/java/com/on/turip/di/RepositoryModule.kt
  android/app/src/main/java/com/on/turip/domain/trip/ContentPlace.kt
  android/app/src/main/java/com/on/turip/domain/trip/Trip.kt
  android/app/src/main/java/com/on/turip/domain/trip/repository/ContentPlaceRepository.kt
  android/app/src/main/java/com/on/turip/ui/common/mapper/TripMapper.kt
  android/app/src/main/java/com/on/turip/ui/common/model/trip/TripModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#244 [feat] 장소 찜 화면 UI 구현
  android/app/src/main/java/com/on/turip/domain/favorite/FavoritePlaceFolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteMapper.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFolderAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFolderViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/model/FavoritePlaceFolderModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/model/FavoritePlaceModel.kt
  android/app/src/main/res/drawable/bg_gray100_radius_10dp.xml
  android/app/src/main/res/drawable/btn_favorite_lemon.xml
  android/app/src/main/res/drawable/btn_folder.xml
  android/app/src/main/res/drawable/btn_folder_text.xml
  android/app/src/main/res/drawable/btn_map_link.xml
  android/app/src/main/res/drawable/ic_folder.xml
  android/app/src/main/res/drawable/ic_heart_lemon.xml
  android/app/src/main/res/layout/fragment_favorite_content.xml
  android/app/src/main/res/layout/fragment_favorite_place.xml
  android/app/src/main/res/layout/item_favorite_place.xml
  android/app/src/main/res/layout/item_place_folder.xml
  android/app/src/main/res/layout/item_travel_place.xml
  android/app/src/main/res/values/strings.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#254 [feat] 폴더 추가, 수정 화면 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/domain/folder/FolderNameStatus.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderActivity.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderAddBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderAddBottomSheetViewModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderModifyBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderModifyBottomSheetViewModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/folder/model/FolderModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/model/FolderNameStatusModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/res/drawable/bg_gray200_radius_40dp.xml
  android/app/src/main/res/drawable/bg_gray400_radius_40dp.xml
  android/app/src/main/res/drawable/bg_stroke_gray400_radius_10dp.xml
  android/app/src/main/res/drawable/btn_confirm.xml
  android/app/src/main/res/layout/bottom_sheet_fragment_folder_add.xml
  android/app/src/main/res/layout/bottom_sheet_fragment_folder_modify.xml
  android/app/src/main/res/layout/item_folder.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#231 [feat] DB 인프라 구축
  backend/build.gradle
  backend/src/main/java/turip/category/repository/CategoryRepository.java
  backend/src/main/java/turip/city/repository/CityRepository.java
  backend/src/main/java/turip/country/repository/CountryRepository.java
  backend/src/main/java/turip/creator/repository/CreatorRepository.java
  backend/src/main/java/turip/data/config/CsvDataInitializer.java
  backend/src/main/java/turip/data/config/ProdCsvDataInitializer.java
  backend/src/main/java/turip/data/controller/CsvImportController.java
  backend/src/main/java/turip/data/dto/CsvDataDto.java
  backend/src/main/java/turip/data/service/CsvDataImportService.java
  backend/src/main/java/turip/favoritefolder/domain/FavoriteFolder.java
  backend/src/main/java/turip/member/domain/Member.java
  backend/src/main/java/turip/place/domain/Place.java
  backend/src/main/java/turip/place/repository/PlaceRepository.java
  backend/src/main/java/turip/placecategory/repository/PlaceCategoryRepository.java
  backend/src/main/java/turip/province/repository/ProvinceRepository.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/creator_data.sql
  backend/src/main/resources/data.sql
  backend/src/main/resources/db/migration/V1__create_initial_tables.sql
  backend/src/main/resources/execution_log.txt
  backend/src/main/resources/favorite_content_data.sql
  backend/src/main/resources/region_data.sql
  backend/src/main/resources/여코남 - 여행코스짜주는남자_완성.csv
  backend/src/test/java/turip/content/repository/ContentRepositoryTest.java
  backend/src/test/java/turip/favoritecontent/api/FavoriteContentApiTest.java
  backend/src/test/java/turip/favoritecontent/repository/FavoriteContentRepositoryTest.java
  backend/src/test/resources/application-test.yml
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#275 [feat] 장소 찜 폴더 생성 API 연결
  android/app/src/main/java/com/on/turip/data/folder/FolderMapper.kt
  android/app/src/main/java/com/on/turip/data/folder/datasource/DefaultFolderRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/folder/datasource/FolderRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/folder/dto/FavoriteFolderAddRequest.kt
  android/app/src/main/java/com/on/turip/data/folder/repository/DefaultFolderRepository.kt
  android/app/src/main/java/com/on/turip/data/folder/service/FolderService.kt
  android/app/src/main/java/com/on/turip/domain/folder/repository/FolderRepository.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderAddBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderAddBottomSheetViewModel.kt
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#207 1.1.0 버전 배포
  android/gradle/libs.versions.toml
Labels: 💻 BackEnd, 🤖 Android

#279 [feat] 장소 찜 폴더명 수정 API
  android/app/src/main/java/com/on/turip/data/folder/FolderMapper.kt
  android/app/src/main/java/com/on/turip/data/folder/datasource/DefaultFolderRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/folder/datasource/FolderRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/folder/dto/FavoriteFolderPatchRequest.kt
  android/app/src/main/java/com/on/turip/data/folder/repository/DefaultFolderRepository.kt
  android/app/src/main/java/com/on/turip/data/folder/service/FolderService.kt
  android/app/src/main/java/com/on/turip/domain/folder/repository/FolderRepository.kt
  android/app/src/main/java/com/on/turip/ui/common/mapper/FolderMapper.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderActivity.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderAddBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderAddBottomSheetViewModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderModifyBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderModifyBottomSheetViewModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderViewModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/model/FolderEditModel.kt
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#281 [feat] 데이터 주입 로직 업그레이드
  backend/.gitignore
  backend/src/main/java/turip/data/config/CsvDataInitializer.java
  backend/src/main/java/turip/data/config/DevDataInitializer.java
  backend/src/main/java/turip/data/config/ProdCsvDataInitializer.java
  backend/src/main/java/turip/data/controller/CsvImportController.java
  backend/src/main/java/turip/data/controller/DataImportController.java
  backend/src/main/java/turip/data/controller/dto/CsvImportRequest.java
  backend/src/main/java/turip/data/service/CsvFileService.java
  backend/src/main/java/turip/data/service/DataImportService.java
  backend/src/main/java/turip/regioncategory/service/RegionCategoryService.java
  backend/src/main/resources/Ruby 루비_완성.csv
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/execution_log.txt
  backend/src/main/resources/듀이ヂュイ♥彡csv_완성.csv
  backend/src/main/resources/여코남 - 여행코스짜주는남자_완성.csv
  backend/src/main/resources/연수연_완성.csv
  backend/src/main/resources/율모조모_완성.csv
  backend/src/main/resources/이달래_완성.csv
  backend/src/main/resources/제주에디_완성.csv
  backend/src/main/resources/채리어 Chaerrier_완성.csv
  backend/src/main/resources/하찬투어_완성.csv
  backend/src/test/resources/application-test.yml
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#292 [feat] 지역 검색 결과 로딩 화면 수정
  android/app/src/main/java/com/on/turip/ui/search/regionresult/RegionResultActivity.kt
  android/app/src/main/res/layout/activity_region_result.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#301 [feat] 장소 찜 폴더 목록, 장소 찜 여부 조회 api 연결
  android/app/src/main/java/com/on/turip/data/content/place/ContentPlaceMapper.kt
  android/app/src/main/java/com/on/turip/data/content/place/dto/ContentPlaceResponse.kt
  android/app/src/main/java/com/on/turip/data/favorite/service/FavoriteService.kt
  android/app/src/main/java/com/on/turip/data/folder/FolderMapper.kt
  android/app/src/main/java/com/on/turip/data/folder/datasource/DefaultFolderRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/folder/datasource/FolderRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/folder/dto/FavoriteFolderStatusByPlaceResponse.kt
  android/app/src/main/java/com/on/turip/data/folder/dto/FavoriteFoldersStatusByPlaceResponse.kt
  android/app/src/main/java/com/on/turip/data/folder/repository/DefaultFolderRepository.kt
  android/app/src/main/java/com/on/turip/data/folder/service/FolderService.kt
  android/app/src/main/java/com/on/turip/domain/favorite/FavoritePlaceFolder.kt
  android/app/src/main/java/com/on/turip/domain/folder/FavoriteFolder.kt
  android/app/src/main/java/com/on/turip/domain/folder/repository/FolderRepository.kt
  android/app/src/main/java/com/on/turip/domain/trip/ContentPlace.kt
  android/app/src/main/java/com/on/turip/ui/common/TuripSnackbar.kt
  android/app/src/main/java/com/on/turip/ui/folder/FolderViewModel.kt
  android/app/src/main/java/com/on/turip/ui/folder/model/FolderNameStatusModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteMapper.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFolderBottomSheetFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFolderViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFolderViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/PlaceModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripPlaceViewHolder.kt
  android/app/src/main/res/layout/item_favorite_place.xml
  android/app/src/main/res/values/strings.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#300 [feat] Android CD 적용
  .github/workflows/android-cd.yml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#305 [refactor] BE QA 반영
  backend/src/main/java/turip/favoritefolder/repository/FavoriteFolderRepository.java
  backend/src/main/java/turip/favoritefolder/service/FavoriteFolderService.java
  backend/src/main/resources/db/migration/dev/V3__alter_table.h2.sql
  backend/src/main/resources/db/migration/prod/V3__alter_table.mysql.sql
  backend/src/test/java/turip/favoritefolder/service/FavoriteFolderServiceTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#309 [feat] 홈 화면 QA 반영
  android/app/src/main/java/com/on/turip/ui/main/home/HomeFragment.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/keywordresult/SearchViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/webview/WebViewUtils.kt
  android/app/src/main/res/drawable/bg_stroke_gray200_radius_20dp.xml
  android/app/src/main/res/drawable/btn_bottom_menu_favorite.xml
  android/app/src/main/res/drawable/btn_bottom_menu_home.xml
  android/app/src/main/res/drawable/btn_favorite_gradient.xml
  android/app/src/main/res/drawable/ic_folder_favorite_normal.xml
  android/app/src/main/res/drawable/ic_folder_favorite_selected.xml
  android/app/src/main/res/drawable/ic_home_normal.xml
  android/app/src/main/res/drawable/ic_home_selected.xml
  android/app/src/main/res/layout/activity_search.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/menu/menu_bottom_nav.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#310 [feat] 찜 관련 QA
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteFragment.kt
  android/app/src/main/res/drawable/ic_folder.xml
  android/app/src/main/res/drawable/ic_folder_setting.xml
  android/app/src/main/res/layout/fragment_favorite_place.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#295 [feat] 헬스 체크를 위한 actuator 추가
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#296 [feat] 롤백 기능 추가
  .github/workflows/backend-dev-server.yml
  .github/workflows/backend-prod-server-rollback.yml
  .github/workflows/backend-prod-server.yml
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat
