Repository woowacourse-teams/2025-Turip, pull requests merged in 2025-07, with the labels that each got.

#5 [feat] 프로젝트 wiki에 1차 요구사항 링크 추가
  README.md
  android/wiki/AndroidSettings.md
  android/wiki/CodeConvention.md
  android/wiki/ReviewConvention.md
  backend/wiki/.gitkeep
  backend/wiki/CodeConvention.md
  backend/wiki/TechStackDecision.md
Labels: 🤙🏽 메이, 🍋 라젤, 🐭 제리, 🏝️ 하루, 🤡 뭉치, 🌰 채넛, 💻 BackEnd, 🤖 Android, 📝 feat, 📄 docs

#7 [feat] 백엔드 초기 설정
  backend/.gitignore
  backend/.gitkeep
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/src/main/java/focuswithme/FocusWithMeApplication.java
Labels: 🤙🏽 메이, 🍋 라젤, 🏝️ 하루, 💻 BackEnd, 📝 feat

#10 [feat] 안드로이드 프로젝트 재생성
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/on/turip/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/MainActivity.kt
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/com/on/turip/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle.kts
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#17 [feat] PR 자동 리뷰어 등록 및 담당자 설정 CI 구축
  .github/pull_request_template.md
  .github/workflows/review-assign.yml
Labels: 🤡 뭉치, 📝 feat

#15 [feat] 안드로이드 CI 파이프라인 최초 구축
  .github/workflows/android-ci.yml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#23 [fix] 안드로이드 CI working-directory 설정 누락 재수정
  .github/workflows/android-ci.yml
Labels: 🌰 채넛, 🤖 Android, 🔨 fix

#25 [fix] 안드로이드 CI 수정
  .github/workflows/android-ci.yml
Labels: 🐭 제리, 🤡 뭉치, 🌰 채넛, 🤖 Android, 🔨 fix

#18 [feat] base 세팅
  .github/workflows/android-ci.yml
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/on/turip/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/data/.gitkeep
  android/app/src/main/java/com/on/turip/domain/.gitkeep
  android/app/src/main/java/com/on/turip/ui/common/base/BaseActivity.kt
  android/app/src/main/java/com/on/turip/ui/common/base/BaseFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/MainActivity.kt
  android/app/src/main/java/com/on/turip/ui/main/MainViewModel.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/test/java/com/on/turip/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#27 [feat] 프로젝트 주제 변경에 따른 문서 수정
  README.md
  android/wiki/AndroidSettings.md
  android/wiki/CodeConvention.md
  android/wiki/ReviewConvention.md
  backend/wiki/.gitkeep
  backend/wiki/CodeConvention.md
  backend/wiki/TechStackDecision.md
Labels: 💻 BackEnd, 🤖 Android, 📄 docs

#20 [feat] 프로젝트 디렉토리명 변경
  backend/src/main/java/turip/TuripApplication.java
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#28 [feat] network 세팅
  .github/workflows/android-ci.yml
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/TuripApplication.kt
  android/app/src/main/java/com/on/turip/data/.gitkeep
  android/app/src/main/java/com/on/turip/data/network/NetworkClient.kt
  android/gradle.properties
  android/gradle/libs.versions.toml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#35 [feat] 디자인 시스템 구축
  android/app/src/main/res/drawable-xhdpi/ic_logo.png
  android/app/src/main/res/drawable-xxhdpi/ic_logo.png
  android/app/src/main/res/drawable/btn_map_link.xml
  android/app/src/main/res/drawable/ic_logo.png
  android/app/src/main/res/drawable/ic_sorry.xml
  android/app/src/main/res/drawable/ic_youtuber_badge.xml
  android/app/src/main/res/font/suit_bold.ttf
  android/app/src/main/res/font/suit_light.ttf
  android/app/src/main/res/font/suit_regular.ttf
  android/app/src/main/res/font/suit_semibold.ttf
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/typography.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#43 [feat] Creator 조회 api 구현
  backend/src/main/java/turip/creator/controller/CreatorController.java
  backend/src/main/java/turip/creator/controller/dto/response/CreatorResponse.java
  backend/src/main/java/turip/creator/repository/CreatorRepository.java
  backend/src/main/java/turip/creator/service/CreatorService.java
  backend/src/main/java/turip/exception/NotFoundException.java
Labels: 🤙🏽 메이, 🍋 라젤, 🏝️ 하루, 💻 BackEnd, 📝 feat

#46 [feat] ResponseStatus 애노테이션 제거
  backend/src/main/java/turip/creator/controller/CreatorController.java
Labels: 🤙🏽 메이, 💻 BackEnd, 🔨 fix

#49 [fix] db 예약어와 겹치는 테이블 필드명 수정
  backend/src/main/java/turip/tripcourse/domain/TripCourse.java
Labels: 💻 BackEnd, 🔨 fix

#50 [feat] application 환경 설정
  backend/src/main/resources/application.yml
Labels: 💻 BackEnd, 📝 feat

#33 [feat] 유튜버 여행 일정 검색 결과 화면 View 그리기
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/ui/search/detail/.gitkeep
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewModel.kt
  android/app/src/main/res/drawable/bg_stroke_gray200_radius_24dp.xml
  android/app/src/main/res/drawable/ic_back.xml
  android/app/src/main/res/drawable/ic_calendar.xml
  android/app/src/main/res/drawable/ic_location.xml
  android/app/src/main/res/layout/activity_search_result.xml
  android/app/src/main/res/layout/item_search_result.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#56 [feat] 메인 페이지 뷰 구현
  android/app/src/main/java/com/on/turip/ui/main/MainActivity.kt
  android/app/src/main/res/drawable/bg_gra400_radius_24dp.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/item_searching_region.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#55 [feat] 유튜버 여행 일정 상세 페이지 영상 설명 View 그리기
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/ui/search/detail/.gitkeep
  android/app/src/main/java/com/on/turip/ui/search/detail/SearchDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/detail/SearchDetailViewModel.kt
  android/app/src/main/res/layout/activity_search_detail.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#52 [feat] 지역별 컨텐츠 수 조회 api 구현
  backend/build.gradle
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/controller/dto/response/ContentCountResponse.java
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/test/java/turip/content/api/ContentApiTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#62 [feat] 유튜버 여행 일정 검색 결과 화면 기능에 대한 더미데이터 추가
  android/app/src/main/java/com/on/turip/data/contents/dto/.gitkeep
  android/app/src/main/java/com/on/turip/data/contents/repository/DummyContentsRepository.kt
  android/app/src/main/java/com/on/turip/domain/contents/Content.kt
  android/app/src/main/java/com/on/turip/domain/contents/Creator.kt
  android/app/src/main/java/com/on/turip/domain/contents/PagedContentsResult.kt
  android/app/src/main/java/com/on/turip/domain/contents/TripDuration.kt
  android/app/src/main/java/com/on/turip/domain/contents/Video.kt
  android/app/src/main/java/com/on/turip/domain/contents/repository/ContentsRepository.kt
Labels: 🐭 제리, 🤖 Android, 📝 feat

#66 [feat] 유튜버 여행 일정 상세 페이지 영상 View 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/iframe.html
  android/app/src/main/java/com/on/turip/ui/search/detail/SearchDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/detail/webview/TuripWebChromeClient.kt
  android/app/src/main/java/com/on/turip/ui/search/detail/webview/TuripWebViewClient.kt
  android/app/src/main/java/com/on/turip/ui/search/detail/webview/WebViewUtils.kt
  android/app/src/main/java/com/on/turip/ui/search/detail/webview/WebViewVideoBridge.kt
  android/app/src/main/res/layout/activity_search_detail.xml
  android/app/src/main/res/layout/activity_search_result.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#80 [feat] CI/CD 설정 추가
  .github/workflows/backend-dev-server.yml
Labels: 💻 BackEnd, 📝 feat

#73 [feat] 유튜버 여행 일정 상세 페이지 장소, 여행기간, n일차 View 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/on/turip/ui/search/detail/SearchDetailViewModel.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/DayModel.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/TravelDayAdapter.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/TravelDayViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/TravelDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/TravelDetailViewModel.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/webview/TuripWebChromeClient.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/webview/TuripWebViewClient.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/webview/WebViewUtils.kt
  android/app/src/main/java/com/on/turip/ui/travel/detail/webview/WebViewVideoBridge.kt
  android/app/src/main/res/layout/activity_search_detail.xml
  android/app/src/main/res/layout/activity_search_result.xml
  android/app/src/main/res/layout/item_travel_day.xml
  android/app/src/main/res/values/strings.xml
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#85 [fix] api 파라미터 Key값, 크리에이터 응답 형식 오류 수정
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/creator/controller/dto/response/CreatorResponse.java
  backend/src/test/java/turip/content/api/ContentPagingApiTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, 🔨 fix

#88 [feat] 유튜버 여행 일정 상세 페이지 repository 추상체 생성
  android/app/src/main/java/com/on/turip/data/content/ContentMapper.kt
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/di/RepositoryModule.kt
  android/app/src/main/java/com/on/turip/domain/contents/Content.kt
  android/app/src/main/java/com/on/turip/domain/contents/PagedContentsResult.kt
  android/app/src/main/java/com/on/turip/domain/contents/VideoInformation.kt
  android/app/src/main/java/com/on/turip/domain/contents/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/Content.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/PagedContentsResult.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/VideoData.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/creator/Creator.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/creator/repository/CreatorRepository.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/VideoInformation.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/trip/Place.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/trip/Trip.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/trip/TripCourse.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/trip/TripDuration.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/trip/repository/TravelCourseRepository.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultAdapter.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewModel.kt
Labels: 🐭 제리, 🤖 Android, 📝 feat

#94 [feat] 유튜버 여행 일정 상세 페이지 기능 구현
  android/app/src/main/java/com/on/turip/data/creator/service/CreatorService.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripPlaceViewHolder.kt
  android/app/src/main/res/layout/activity_trip_detail.xml
Labels: 🐭 제리, 🤡 뭉치, 🤖 Android, 📝 feat

#96 [fix] 2차 데모데이 QA
  android/app/src/main/java/com/on/turip/data/content/ContentMapper.kt
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/creator/CreatorMapper.kt
  android/app/src/main/java/com/on/turip/data/creator/repository/DefaultCreatorRepository.kt
  android/app/src/main/java/com/on/turip/data/trip/TripMapper.kt
  android/app/src/main/java/com/on/turip/data/trip/repository/DefaultTripRepository.kt
  android/app/src/main/java/com/on/turip/di/RepositoryModule.kt
  android/app/src/main/java/com/on/turip/domain/content/Content.kt
  android/app/src/main/java/com/on/turip/domain/content/PagedContentsResult.kt
  android/app/src/main/java/com/on/turip/domain/content/repository/ContentRepository.kt
  android/app/src/main/java/com/on/turip/domain/content/video/VideoData.kt
  android/app/src/main/java/com/on/turip/domain/content/video/VideoInformation.kt
  android/app/src/main/java/com/on/turip/domain/creator/Creator.kt
  android/app/src/main/java/com/on/turip/domain/creator/repository/CreatorRepository.kt
  android/app/src/main/java/com/on/turip/domain/trip/Place.kt
  android/app/src/main/java/com/on/turip/domain/trip/Trip.kt
  android/app/src/main/java/com/on/turip/domain/trip/TripCourse.kt
  android/app/src/main/java/com/on/turip/domain/trip/TripDuration.kt
  android/app/src/main/java/com/on/turip/domain/trip/repository/TripRepository.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/Content.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/PagedContentsResult.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/creator/repository/CreatorRepository.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/VideoInformation.kt
  android/app/src/main/java/com/on/turip/domain/videoinfo/contents/video/trip/repository/TripRepository.kt
  android/app/src/main/java/com/on/turip/ui/main/MainActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultAdapter.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailViewModel.kt
  android/app/src/main/res/layout/activity_search_result.xml
  android/app/src/main/res/layout/activity_trip_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#97 feat: 데이터 추가
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/main/resources/hachantour_gangwon_data.sql
  backend/src/main/resources/jejueddy_gangwon_sokcho_data.sql
  backend/src/main/resources/jejueddy_posak_date.sql
  backend/src/main/resources/yeoconam_gangwon_gyeongju_data.sql
  backend/src/main/resources/yeoconam_ganwon_gangneung_data.sql
  backend/src/main/resources/yeoconam_seoul_data.sql
Labels: 🏝️ 하루, 💻 BackEnd, 📝 feat

#109 [feat] 유튜브 링크 변환 담당 객체
  android/app/src/main/java/com/on/turip/ui/common/TuripUrlConverter.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/webview/WebViewUtils.kt
  android/app/src/test/java/com/on/turip/ui/common/TuripUrlConverterTest.kt
Labels: 🌰 채넛, 🤖 Android, 📝 feat

#112 [refactor] BaseViewModel 삭제
  android/app/src/main/java/com/on/turip/ui/common/base/BaseActivity.kt
  android/app/src/main/java/com/on/turip/ui/common/base/BaseFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/MainActivity.kt
  android/app/src/main/java/com/on/turip/ui/search/result/SearchResultActivity.kt
  android/app/src/main/java/com/on/turip/ui/splash/SplashActivity.kt
  android/app/src/main/java/com/on/turip/ui/splash/SplashViewModel.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripDetailActivity.kt
Labels: 🤡 뭉치, 🤖 Android, refactor
