Repository woowacourse-teams/2025-Turip, pull requests merged in 2025-09, with the labels that each got.

#327 [feat] 에러 태그 추가
  backend/src/main/java/turip/auth/AuthMemberArgumentResolver.java
  backend/src/main/java/turip/common/exception/ErrorResponse.java
  backend/src/main/java/turip/common/exception/ErrorTag.java
  backend/src/main/java/turip/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/turip/common/exception/custom/BadRequestException.java
  backend/src/main/java/turip/common/exception/custom/ConflictException.java
  backend/src/main/java/turip/common/exception/custom/ForbiddenException.java
  backend/src/main/java/turip/common/exception/custom/HttpStatusException.java
  backend/src/main/java/turip/common/exception/custom/IllegalArgumentException.java
  backend/src/main/java/turip/common/exception/custom/NotFoundException.java
  backend/src/main/java/turip/content/controller/ContentController.java
  backend/src/main/java/turip/content/controller/ContentPlaceController.java
  backend/src/main/java/turip/content/service/ContentPlaceService.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/creator/controller/CreatorController.java
  backend/src/main/java/turip/creator/service/CreatorService.java
  backend/src/main/java/turip/favorite/controller/FavoriteContentController.java
  backend/src/main/java/turip/favorite/controller/FavoriteFolderController.java
  backend/src/main/java/turip/favorite/controller/FavoritePlaceController.java
  backend/src/main/java/turip/favorite/domain/FavoriteFolder.java
  backend/src/main/java/turip/favorite/service/FavoriteContentService.java
  backend/src/main/java/turip/favorite/service/FavoriteFolderService.java
  backend/src/main/java/turip/favorite/service/FavoritePlaceService.java
  backend/src/main/java/turip/member/service/MemberService.java
  backend/src/main/java/turip/place/domain/GoogleMapCategoryMapper.java
  backend/src/main/java/turip/region/domain/DomesticRegionCategory.java
  backend/src/main/java/turip/region/domain/OverseasRegionCategory.java
  backend/src/test/java/turip/favorite/domain/FavoriteFolderTest.java
  backend/src/test/java/turip/favorite/service/FavoriteContentServiceTest.java
  backend/src/test/java/turip/favorite/service/FavoriteFolderServiceTest.java
  backend/src/test/java/turip/favorite/service/FavoritePlaceServiceTest.java
  backend/src/test/java/turip/region/domain/DomesticRegionCategoryTest.java
  backend/src/test/java/turip/region/domain/OverseasRegionCategoryTest.java
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat

#325 [refactor] DTO 리팩터링
  android/app/src/main/java/com/on/turip/data/content/ContentMapper.kt
  android/app/src/main/java/com/on/turip/data/content/datasource/ContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/datasource/DefaultContentRemoteDataSource.kt
  android/app/src/main/java/com/on/turip/data/content/dto/ContentResponse.kt
  android/app/src/main/java/com/on/turip/data/content/dto/ContentsInformationResponse2.kt
  android/app/src/main/java/com/on/turip/data/content/repository/DefaultContentRepository.kt
  android/app/src/main/java/com/on/turip/data/content/service/ContentService.kt
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#330 [feat] 엔드포인트 수정
  backend/src/main/java/turip/content/controller/ContentPlaceController.java
  backend/src/main/java/turip/favorite/controller/FavoriteContentController.java
  backend/src/main/java/turip/favorite/controller/FavoriteFolderController.java
  backend/src/main/java/turip/favorite/controller/FavoritePlaceController.java
  backend/src/test/java/turip/content/api/ContentPlaceApiTest.java
  backend/src/test/java/turip/favorite/api/FavoriteContentApiTest.java
  backend/src/test/java/turip/favorite/api/FavoriteFolderApiTest.java
  backend/src/test/java/turip/favorite/api/FavoritePlaceApiTest.java
Labels: 🍋 라젤, 💻 BackEnd, 📝 feat

#337 [feat] 카카오맵과 구글맵 구분 아이콘 추가
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewHolder.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/Maps.kt
  android/app/src/main/java/com/on/turip/ui/trip/detail/TripPlaceViewHolder.kt
  android/app/src/main/res/drawable-xhdpi/btn_kakao_map_basic.png
  android/app/src/main/res/drawable-xxhdpi/btn_kakao_map_basic.png
  android/app/src/main/res/drawable/btn_google_map_basic.xml
  android/app/src/main/res/drawable/btn_kakao_map_basic.png
  android/app/src/main/res/drawable/btn_map_link.xml
  android/app/src/main/res/layout/item_favorite_place.xml
  android/app/src/main/res/layout/item_travel_place.xml
Labels: 🐭 제리, 🤖 Android, 📝 feat

#339 [fix] 장소찜 화면에서 장소 갯수가 남아있는 오류 수정
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewModel.kt
  android/app/src/main/res/layout/fragment_favorite_place.xml
Labels: 🐭 제리, 🤖 Android, 🔨 fix

#345 [feat] 찜 해제 시 리스트에서 사라지도록 수정
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteContentFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoriteContentViewModel.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewModel.kt
Labels: 🤡 뭉치, 🤖 Android, 📝 feat

#361 [feat] 5차 QA (뭉치 담당)
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceAdapter.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFolderCatalogFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceFragment.kt
  android/app/src/main/java/com/on/turip/ui/main/favorite/FavoritePlaceViewModel.kt
  android/app/src/main/res/drawable/ic_hamburger.xml
  android/app/src/main/res/layout/item_favorite_place.xml
Labels: 🤡 뭉치, 🤖 Android, 🔨 fix, 📝 feat

#356 [refactor] 페이지네이션 메서드 통합
  backend/src/main/java/turip/content/repository/ContentRepository.java
  backend/src/main/java/turip/content/service/ContentService.java
  backend/src/main/java/turip/member/repository/MemberRepository.java
Labels: 🏝️ 하루, 💻 BackEnd, refactor

#347 [fix] 유튜브 영상 153 에러 해결
  android/app/src/main/assets/iframe.html
  android/app/src/main/java/com/on/turip/ui/trip/detail/webview/WebViewUtils.kt
Labels: 🤖 Android, 🔨 fix

#369 [feat] 리드미 업데이트
  README.md
Labels: 🤖 Android, 📝 feat

#370 [feat] 지역별 컨텐츠 조회 쿼리에 대한 인덱스 추가
  backend/src/main/resources/db/migration/V6__add_indexes.mysql.sql
Labels: 🤙🏽 메이, 💻 BackEnd, 📝 feat
